body {
  margin: 0%;
  font-family: 'Varela Round', sans-serif;
  line-height: 30px;
}

#newsletter{
  background-color: purple;
  height: 40px;
  display: flex;
  width: 100%;
}

#newsletter img{
  width: 40px;
  filter: brightness(0) invert(1);
  opacity: 0.6;
}

.newsletter {
  align-items: center;
  display: flex;
  margin-left: 350px;
  margin-top: 5px;
}

.newsletter .span1 {
  color: white;
}


.newsletter input {
  border-radius: 15%;
  margin: 3px;
}

.newsletter button {
 background-color: rgb(30, 192, 84);
  border-radius: 3px;
  border: none;
  color: white;
}

.logo1{
  display: flex;
}

.span2 {
  float: right;
  font-size: 10px;
  text-transform: uppercase;
  font-weight: bold;
}

.logo1 img {
  height: 80px;
  display: flex;
  margin-left: 50px;
  margin-top: 12px;
  float: left;
}

.hr1 {
  width: 40px;
  color: purple;
  border: solid 1px;
}

#contenu {
  position: relative;
  display: block;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  flex-wrap: wrap;
  flex-direction: row;
  width: 100%;
}

.span1 {
  margin-right: 30px;
}

#contenu h1 {
  margin-bottom: 50px;
}

#contenu h2 {
  width: 80%;
  display: inline-block; 
  text-align: left;
}

#contenu p {
  width: 80%;
  display: inline-block; 
  text-align: left;
}

#contenu li {
  width: 80%;
  display: inline-block; 
  text-align: left;
}


.logo1 {
  float: left;
  height: 20px;
}

.menu  {
  list-style-type: none;
  list-style: none;
  margin: 20px;
  padding: 20px;
  border: black 1px;
}

.menu li a {
  color: black;
  text-align: center;
  padding: 16px 16px;
  text-decoration: none;
  font-size: 10px;
  margin: 5px;
  text-transform: uppercase;
  font-weight: bold;
}

.menu li a:hover {
  text-decoration: underline 2px;
}

.menu ul {
  justify-content: center;
  display: flex;
  list-style: none; /* Remove default bullets */
}

#contenu ul li::before {
  content: "\2022";  /* Add content: \2022 is the CSS Code/unicode for a bullet */
  color: purple; /* Change the color */
  font-weight: bold; /* If you want it to be bold */
  display: inline-block; /* Needed to add space between the bullet and the text */
  width: 1em; /* Also needed for space (tweak if needed) */
  margin-left: -1em; /* Also needed for space (tweak if needed) */
}

footer {
  background-color: rgba(32, 32, 32, 0.973);
  height: 400px;
  margin-top: 50px;
  position: relative;
  display: block;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  flex-wrap: wrap;
  flex-direction: row;
  width: 100%;
}

.logo_footer {
  margin: 70px;
  width: 200px;
  color: white;
}

.section img {
  height: 30px;
  justify-content: center;
  filter: brightness(0) invert(1);

}

hr {
  color: black solid 1px;
}

.section div {
  display: inline-block;
  position: relative;
  margin: 40px;
}

.section div a span {
  text-align: center;
  color: white;
  text-decoration: none; 
}
